.wrapper {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item {
    display: inline-block;
    margin: 0 7px;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        cursor: pointer;
        color: rgba(17, 17, 17, 0.85);
    }

    a {
        display: inline-flex;
        align-items: center;
        padding: 10px 0;
        font-size: 0.8em;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: rgba(102, 102, 102, 0.85);
    }
}

.title {
    display: inline-flex;
    align-items: center;
    padding: 10px 0;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(102, 102, 102, 0.85);
    font-size: 0.8em;
    font-weight: 700;
}

.dropdown {
    font-size: 1.6rem;
    margin-left: 0.2em;
    width: 10.54px;
}
