.wrapper {
    display: flex;

    @media screen and (max-width: 849px) {
        display: none;
    }
}

.divider {
    position: relative;
    display: inline-block;
    height: 30px;
    margin: 0 7.5px;
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
