.wrapper {
    display: flex;

    span {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .icon {
        justify-content: flex-end;
    }
}

.primary {
    background-color: var(--primary-color);
    color: #fff;
}

.secondary {
    background-color: var(--secondary-color);
}

.disabled {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-color: rgba(0, 0, 0, 0.05);
    color: white;
    opacity: 0.6;
    pointer-events: none;
}
