.wrapper {
    flex: 1;
}

.inner {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        max-width: 100%;
        height: 2.507em;
        padding: 0 0.75em;
        color: black;
        border: 1px solid #ddd;
        border-color: rgba(0, 0, 0, 0.09);
        border-radius: 99px;
        background-color: rgba(0, 0, 0, 0.03);
        -webkit-box-shadow: none;
        box-shadow: none;
        font: inherit;
        font-size: 0.97em;
    }
}

.form {
    position: relative;
    width: 97%;
    padding-right: 4px;
    font-size: 0.85em;
}

.search-btn {
    z-index: 9;
    max-height: 100%;
    margin-left: -2.9em;
    padding-right: 4px;
    cursor: pointer;
    font-size: 0.85em;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2.5em;
        height: 100%;
        padding-right: 0.6em;
        padding-left: 0.6em;
        line-height: 2.4em;
    }
}

.search-icon {
    letter-spacing: 0.03em;
    font: inherit;
    font-size: 1.4em;
}

.loading {
    margin-left: -1.89em;
    animation: spinner 1s linear infinite;

    @keyframes spinner {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.search-result {
    // position: absolute;
    overflow-y: auto;
    max-height: 80vh;
    text-align: left;
    color: #111;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 0.85em;
    font-weight: normal;
}

.autocomplete-suggestion {
    display: flex;
    align-items: center;
    padding: 10px 0.75em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .image {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 99px;
    }

    .name {
        flex: 1;
        margin-top: -0.15em;
        padding-left: 0.5em;
    }

    .price {
        margin-left: 5px;
        padding-top: 3px;
        font-size: 0.8em;
    }
}
