.wrapper {
    padding: 30px 0;

    & > div {
        max-width: 1270px;
        margin: 0 auto;
    }
}

.inner {
    padding: 0 15px 30px;

    form {
        padding: 30px 0;
        margin-bottom: 1.3em;

        p {
            margin-bottom: 0.5em;
            width: 48%;
            display: inline-block;
            margin-right: 4%;

            @media screen and (max-width: 549px) {
                display: block;
                margin-right: 0;
                width: 100%;
            }

            label {
                color: #222;
            }

            input {
                border: 1px solid #ddd;
                padding: 0 0.75em;
                height: 2.507em;
                font-size: 0.97em;
                border-radius: 0;
                max-width: 100%;
                width: 100%;
                vertical-align: middle;
                background-color: #fff;
                color: #333;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                margin-bottom: 1em;
            }

            small {
                font-size: 80%;
                display: inline-block;
            }
        }
    }
}

.form-group-last {
    margin-right: 0 !important;
    float: right;
}

.save-password-btn {
    display: inline-block;
    margin-bottom: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.97em;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
}
