.content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.menu {
    padding: 30px 0;
}

.menu-list {
    list-style: none;

    & > li:not(li:first-child) {
        border-top: 1px solid #ececec;
    }

    li:not(li:first-child):active,
    li:not(li:first-child):hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.search-form {
    padding: 20px;
}

.menu-item {
    display: flex;
    padding: 15px 0 15px 20px;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(102, 102, 102, 0.85);
}

.dropdown {
    position: absolute;
    right: 10px;
    width: 22px;
    min-height: 2.5em;
    line-height: 1;
    cursor: pointer;
    opacity: 1;
    margin-right: 5px;
    font-size: 0.97em;
}

.sub-menu {
    list-style: none;
    padding-bottom: 30px;

    li {
        font-size: 1em;
        padding-left: 0.5em;
    }
}

.sub-menu-item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666;
}
