.wrapper {
    background-color: rgba(255, 255, 255, 0.9);
}

.top-bar {
    position: relative;
    z-index: 9;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    background-color: #446084;

    @media screen and (max-width: 849px) {
        display: flex;
    }

    div {
        display: flex;
        align-items: center;
        max-width: 1270px;
        height: 100%;

        div {
            color: #fff;
            font-size: 0.75em;

            strong {
                letter-spacing: 0.05em;
                text-transform: uppercase;
                font-weight: bolder;
                line-height: 1.2;
            }
        }
    }
}

.inner {
    display: flex;
    align-items: center;
    max-width: 1270px;
    height: 100px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 549px) {
        height: 70px;
    }
}

.mobile-nav {
    display: none;
    flex: 1 1 0;
    padding: 10px 0;
    font-size: 0.8em;

    @media screen and (max-width: 849px) {
        display: flex;
    }

    &-icon {
        min-width: 1em;
        font-size: 1.9em;
    }
}

.logo {
    display: flex;
    width: 166px;
    margin-right: 30px;

    @media screen and (max-width: 849px) {
        margin: 0 15px;

        img {
            margin: 0 auto;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    height: 70px;
    transition: all 0.3s;
    animation: stuckMoveDown 0.6s;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

    .top-bar {
        display: none;
    }

    .inner {
        height: 70px;
    }
}

@keyframes stuckMoveDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
